@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    font-size:1.3rem;
    color: #000;
}

.center {
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    text-align: justify;
}
.card-img {
    align-self: center;
}
h1 {
    text-align: center;
}
img:hover {
    transform: scale(0.9);
    transition-duration: 1000ms;
}
h5 {
    font-weight: bold;
}

.element {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    background-color:black;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
  @keyframes stretch {
    0% {
      transform: scale(.3);
      background-color: white;
      border-radius: 100%;
    }
    50% {
      background-color: #000;
    }
    100% {
      transform: scale(0.7);
      background-color:white;
    }
  }
